div(class="container marketing")
  div(class="row")
    div(class="col-lg-4")
      img(src="/images/wolf.svg" alt="Bootstrap" width="140" height="140")
      h2 人狼ゲーム
      p 村人陣営と人狼陣営に分かれて戦うテーブルトークRPGです。オプションで他陣営を追加することができます。
      p
        a(class="btn btn-primary" href="/WereWolfGame/login") このゲームで遊ぶ »

    div(class="col-lg-4")
      img(src="/images/talkWolf.svg" alt="Bootstrap" width="140" height="140")
      h2 ワードウルフ
      p お題について制限時間内に雑談をして、「みんなとは違うお題」を与えられた少数派の人を見つけ出すというゲームです。
      p
        a(class="btn btn-primary" href="#") ※作成中のため使用不可 »
        未定

    div(class="col-lg-4")
      img(src="/images/count-game.svg" alt="Bootstrap" width="140" height="140")
      h2 カウントゲーム
      p 1から順番に数字を言っていくゲーム。1人3つまで数字を言う事が出来、最後に30を言った人が罰ゲームです。
      p
        a(class="btn btn-primary" href="/countGame/home") このゲームで遊ぶ »
